<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 目标任务  -->
	<bean id="jobDetail1" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" >
			<bean class="com.offcn.JobTest" />
		</property>
		<property name="targetMethod" value="test1" />
		<property name="concurrent" value="true" />
	</bean>
	
	<bean id="jobDetail2" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" >
			<bean class="com.offcn.JobTest" />
		</property>
		<property name="targetMethod" value="test2" />
		<property name="concurrent" value="true" />
	</bean>
	<!-- 触发器 -->
	<bean id="trigger1" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="jobDetail" ref="jobDetail1" />
		<property name="startDelay" value="10" />
		<property name="repeatInterval" value="5000" />
		<property name="repeatCount" value="5" />
	</bean>
	
	<bean id="trigger2" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="jobDetail2" />
		<property name="cronExpression" value="0/5 09-15 15 * * ?" />
	</bean>

	<!-- 调度器 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="trigger1" />
				<ref bean="trigger2"/>
			</list>
		</property>
	</bean>
</beans>